<% content_for :title, "Editing rate plan" %>

<h1>Editing rate plan</h1>

<%= render "form", rate_plan: @rate_plan %>

<br>

<div>
  <%= link_to "Show this rate plan", @rate_plan %> |
  <%= link_to "Back to rate plans", rate_plans_path %>
</div>
